# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "08fef4e5dd78b04b2077c28ed8765e25"
name = "migration"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2026-04"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products, write_orders, read_products, read_orders, write_customers, read_customers, write_collections, read_collections,"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]
